<div class="footer">
    <div class="wrap">
        <div nz-row>
            <div  nz-col [nzMd]="{ span:24}" [nzLg]="{ span: 8 }" [nzSm]="{ span: 24 }" [nzXs]="{ span: 24 }">
                    <div class="logo">
                        <h1>Logo.</h1>
                        <h1>Stay in touch</h1>
                    </div>
            </div>
            <div  nz-col [nzMd]="{ span:12}" [nzLg]="{ span: 5 }" [nzSm]="{ span: 12 }" [nzXs]="{ span: 12 }" >
                <h2>Quick Links</h2>
                <h3>About</h3>
                <h3>Home</h3>
                <h3>Pricing</h3>
                <h3>Location</h3>
                <h3>Office</h3>
            </div>
            <div class="hours-col"  nz-col [nzMd]="{ span:12}" [nzLg]="{ span: 6 }" [nzSm]="{ span: 12 }" [nzXs]="{ span: 12 }" >
                <h2>Hours</h2>
                <div class="hours">
                    <div class="left">
                        <h3>Monday</h3>
                        <h3>Monday</h3>
                        <h3>Wednesday</h3>
                        <h3>Monday</h3>
                        <h3>Monday</h3>
                    </div>
                    <div>
                        <h3>9:00 - 18:00</h3>
                        <h3>9:00 - 18:00</h3>
                        <h3>9:00 - 18:00</h3>
                        <h3>9:00 - 18:00</h3>
                        <h3>9:00 - 18:00</h3>

                    </div>
                </div>
            </div>
            <div  nz-col [nzMd]="{ span:12}" [nzLg]="{ span: 5 }"[nzSm]="{ span: 12 }" [nzXs]="{ span: 12 }" >
                <h2>Contact</h2>
                <h3>000-000-0000</h3>
                <h3>Info@email.com</h3>
                <h3>New York,Us</h3>
            </div>
    </div>
    

</div>