<div class="header">
    <div class="desktop">
        <app-navbar></app-navbar>
    </div>
    <div class="mobile">
        <app-drawer></app-drawer>
    </div>
    <div class="row">
        <div class="left" >
            <div class="content" >
                <h2>social media</h2>
                <h1>for business!</h1>
                <p>performance based social media agency</p>
                <p>we are lorem media</p>
                <button class="seams-btn">get a free audit</button>
            </div>
        </div>
        <div class="right">

            <div class="content">
                <img width="100%" src="assets/img/header.png">
            </div>
            
        </div>
    </div>

    
</div>
